
*{
	border:1px solid gray;
}



body{
	font-size : 10pt;
	font-color : black;
	margin :0px;
}

img{
	border:0px;
	margin:0px;
	padding:0px;
}

hr{
	margin:0;
}



#wrap{
	border: 1px solid red;
	width:1000px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:auto;
	margin-left:auto;
}


#page_header{
	/*border: 1px solid red ;*/
}

#page_content{
	border: 1px solid green;
}

#page_footer{
	/*border : 1px solid blue;*/
}

.login_nav{
	text-align:right;
}

.login_nav ul{
	list-style-type:none;
	list-style-position:inside;
	padding:0px;
	margin:0px;
}

.login_nav ul li{
	font-size : 2pt;

	display:inline;

	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding-left:8px;
	padding-right:8px;

	

}

.logo{
	width:200px;
	float:left;

	margin-top:20px;
}

.search{
	margin-top : 50px;
	margin-left : 10px;
	border-color:black;
	width:800px;
	display:inline;

}

.search img{
	border-bottom:4px solid red;
	margin-top:30px;
	margin-bottom:-7px;
	margin-left : -3px;
}

.search input{
	border: white;
	border-bottom : 4px solid red;
	
}

.category{
	padding-top:10px;
	padding-bottom:10px;
	margin-top : 30px;
	border : white;
	border-top:1px solid gray;
	border-bottom:2px solid black;

}


.category ul{
	list-style-type:none;
	list-style-position:inside;

	display:inline;

	margin:0px;
	padding:0px;
	margin-left:0px;
	
}


.category ul li{
	display:inline;
	border:white;
	border-left:1px solid gray;
	border-right:1px solid gray;
	margin:0px;
	padding-left:5px;
	padding-right:5px;
}


.cate_left{
	display:inline;
}

.cate_center{
	display:inline;
	margin-left : 50px;
}

.cate_right{
	display:inline;
	margin-left : 220px;
}

.side_nav{
	float:left;
	margin:0px;
	padding:0px;

}


.side_nav ul{
	width:150px;
	list-style-type:none;
	list-style-position:inside;
	margin:0px;
	padding:0px;
}

.side_nav ul li{
	background-color:black;
	color:white;
	padding:8px;
	margin:0px;
	border:white;
	border-bottom:1px solid gray;
}

.main_img{
	display:inline;
	margin:0px;
	padding:0px;
}

.center_nav{
	margin:0px;
	padding:0px;
}

.center_nav ul{
	list-style-type:none;
	list-style-position:inside;
	margin:0px;
	padding:5px;
}

.center_nav ul li{
	font-size:10pt;

	display:inline;
	padding-left:20px;
	padding-right:20px;
	border:white;
	border-left:1px solid gray;
	border-right:1px solid gray;
	margin:-1.5px;
}

.center_logo{
	display:block;
	padding-left:380px;
	margin-top:40px;
	margin-bottom:20px;

}

.inside_allkill{

}





