
*{
	border:1px solid gray ;
}
body{
	font-size : 10pt;
	font-color : black;
	margin :0px;
}

img{
	border:0px;
	margin:0px;
	padding:0px;
}

#wrap{
	width:989px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:auto;
	margin-left:auto;
}

#page_header{
	border: 1px solid red ;
}

#page_content{
	border: 1px solid green;
}

#page_footer{
	border : 1px solid blue;
}

.login_nav{
	text-align:right;
}

.login_nav ul{
	list-style-type:none;
	list-style-position:inside;
	padding:0px;
	margin:0px;
	margin-top:10px;
}

.login_nav ul li{
	font-size : 2pt;

	display:inline;
	float:right;

	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding-left:8px;
	padding-right:8px;

}

.logo{
	width:200px;
	float:left;

	margin-top:20px;
}

.search{
	margin-top : 50px;
	margin-left : 10px;
	border-color:black;
	width:800px;
	display:inline;

}

.search input{
	border: white;
	border-bottom : 4px solid red;
	
}

.category{
	margin-top : 30px;
	border : white;
	border-top:1px solid gray;
	border-bottom:2px solid black;
}

.cate_left{
	display:inline;
}

.cate_center{
	display:inline;
}

.cate_right{
	display:inline;
}








